.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  width: 5rem;
  height: 5rem;
  border: 1px solid #000;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  line-height: 4.5rem;
  font-size: 3rem;
  font-weight: bold;
}

.row {
  display: flex;
}

.btn {
  float: right;
}
